**/*.png
**/*.npy
**/*.jpg
**/*.zip
Dataset/Images.zip
Dataset/*.zip
Dataset/dataset.pickle
models.zip
**/*.swp
**/*.pyc
**/*.DS_Store
Models/
Painted_Images/
.project
ObjectOnFloorDetectionNN/
.pydevproject
venv/
TempModels/**/*
